body {
  /* background: radial-gradient(
    200% 100% at bottom center,
    #313b65,
    #111453,
    #2b0a24,
    #040517
  ); */
  /* background: radial-gradient(220% 200% at top center, #040517, #374065); */
  background-attachment: fixed;
  overflow: hidden;
}

@keyframes rotate {
  0% {
    transform: perspective(400px) rotateZ(0deg) rotateX(-20deg) rotateY(0);
  }

  100% {
    transform: perspective(400px) rotateZ(20deg) rotateX(-40deg) rotateY(-360deg);
  }
}

.stars-wrapper {
  opacity: 0;
  animation: fadeIn 3s ease-in forwards;
  animation-delay: 5s;
}

.stars {
  transform: perspective(500px);
  transform-style: preserve-3d;
  position: absolute;
  bottom: 0;
  perspective-origin: 100% 50%;
  left: 50%;
  animation: rotate 800s infinite linear;
  z-index: 0;
}

.star {
  width: 2px;
  height: 2px;
  background: #dfdaf1;
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: 0 0 -100px;
  transform: translate3d(0, 0, -100px);
  backface-visibility: hidden;
  z-index: 0;
  box-shadow: 0 0 1px 1px #fff6;
  border-radius: 1px;
}

@media only screen and (max-width: 600px) {
  .star {
    top: -200px;
  }
}

.blink {
  -moz-animation: blinkx 1s forwards ease-in-out;
  -o-animation: blinkx 1s forwards ease-in-out;
  -webkit-animation: blinkx 1s forwards ease-in-out;
  animation: blinkx 1s forwards ease-in-out;
}

@keyframes blinkx {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}