/* #D4AF37 */

* {
  padding: 0;
  margin: 0;
  font-family: "Sen", sans-serif;
  letter-spacing: 4px;
  font-weight: 400;
}

body {
  background-color: #000;
  color: #fff;
  overflow: hidden;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    display: none;
  }
}

.dark-screen {
  height: 100vh;
  width: 100vw;
  background-color: #000;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 3;
  opacity: 1;
  animation: fadeOut 3s ease-in forwards;
}

.edwin-loading-animation {
  position: absolute;
  inset: 0;
  margin: auto;
  z-index: 2;
  width: 15%;
  animation: fadeOut 2s ease-in forwards;
  animation-delay: 4s;
}

@keyframes floatRotate {
  0% {
    transform: rotateY(-15deg) rotateX(5deg) translateZ(0);
  }

  50% {
    transform: rotateY(-20deg) rotateX(8deg) translateZ(20px);
  }

  100% {
    transform: rotateY(-15deg) rotateX(5deg) translateZ(0);
  }
}

.finance-screen-wrapper {
  position: absolute;
  z-index: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  top: 12%;
  border-radius: 6px;
  animation: fadeOut 1s ease-in forwards;
  animation-delay: 4.2s;
}

.finance-screen {
  border-radius: 6px;
  position: relative;
  z-index: 1;
  opacity: 0;
  animation: fadeIn 1s ease forwards;
  animation-delay: 2s;
  visibility: hidden;
}

.edwin-character-animation-wrapper {
  text-align: right;
  opacity: 0;
  animation: fadeIn 3s ease-in forwards;
  animation-delay: 6.3s;
  z-index: 5;
}

.edwin-character-animation {
  min-width: 200px;
  width: 30%;
  top: -120px;
  position: relative;
  z-index: 5;
}

header {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  opacity: 1;
  perspective: 2000px;
  transform-style: preserve-3d;
  z-index: 4;
}

.background-image {
  position: absolute;
  /* right: 0;
  top: 0; */
  width: 50%;
  z-index: 1;
  opacity: 0;
  animation: fadeIn 3s ease-in forwards;
  animation-delay: 4s;
}

#top-wave {
  top: 0;
  left: 0;
  z-index: 10;
}

#bottom-wave {
  bottom: 0;
  right: 0;
  z-index: 10;
}

.background-moon {
  position: absolute;
  right: 3vw;
  top: 3vw;
  /* right: 5%;
  top: 10%; */
  min-width: 15px;
  max-width: 100px;
  width: 13vw;
  z-index: 5;
  cursor: pointer;
  box-shadow: 0 0 10px 5px #fffa, inset 0 0 10px 5px #fff;
  border-radius: 100px;
  opacity: 0;
  animation: fadeIn 3s ease-in forwards;
  animation-delay: 5.7s;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 45%;
  position: relative;
  z-index: 3;
  opacity: 1;
}

.header-text {
  opacity: 0;
  animation: fadeIn 3s ease-in forwards;
  animation-delay: 5.5s;
}

h1 {
  font-size: 3em;
  letter-spacing: 0.1em;
  background: linear-gradient(45deg, #2c2583, #d4af37);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

h2 {
  color: #eeec;
  letter-spacing: 0.1em;
  font-weight: 600;
  font-size: 5em;
  background: linear-gradient(45deg, #2c2583, #d4af37);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

img,
video,
h1,
h2 {
  pointer-events: none;
}

.info-links {
  position: absolute;
  left: 30px;
  bottom: 30px;
  display: flex;
  opacity: 0;
  animation: fadeIn 3s ease-in forwards;
  animation-delay: 5.5s;
  z-index: 3;
}

.info-link {
  cursor: pointer;
  width: fit-content;
  height: 20px;
  border-radius: 25px;
  border: 1px solid #eee;
  padding: 10px 18px;
  z-index: 3;
  position: relative;
  box-shadow: inset 0 0 5px 2px #000c;
  margin-right: 15px;
  text-align: center;
  min-width: 80px;
  background-color: transparent;
  transition: 0.2s background-color linear;
}

.info-link:hover {
  background-color: #fff3;
}

.info-link a {
  position: relative;
  top: 1px;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

.social-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 300px;
  margin-top: 20px;
}

.social-link {
  height: 100%;
  fill: #fff;
  width: 40px;
  height: 40px;
  background-color: #7d95fc22;
  border-radius: 50%;
  padding: 6px;
  cursor: pointer;
  z-index: 3;
  position: relative;
}

.dex-screener svg {
  margin-left: 3px;
}

.social-link:hover svg {
  fill: #d1b34fee;
}

.social-link svg {
  height: 100%;
  transition: 0.3s fill linear;
}

#made-by {
  color: #fff;
  position: absolute;
  bottom: 5px;
  z-index: 200;
  right: -2500px;
}

#made-by a {
  color: #fff;
  text-decoration: none;
  z-index: 0;
}

@media only screen and (max-width: 1600px) {
  .header-content {
    width: 50%;
  }

  h2 {
    font-size: 4em;
  }

  .finance-screen-wrapper {
    top: 10%;
  }
}

@media only screen and (max-width: 1200px) {
  .header-content {
    width: 60%;
  }
}

@media only screen and (max-width: 600px) {
  .background-image {
    width: 100%;
    object-fit: cover;
  }

  #top-wave {
    width: 80%;
  }

  #bottom-wave {
    width: 150%;
  }

  .header-content {
    position: absolute;
    bottom: 45%;
    left: 10%;
    width: 80%;
  }

  .edwin-character-animation-wrapper {
    position: absolute;
    right: 80px;
    top: -135px;
  }

  .edwin-character-animation {
    position: absolute;
    width: 100px;
    min-width: 100px;
    top: unset;
  }

  .background-moon {
    /* width: 10%; */
    /* top: 3%; */
    right: 5vw;
    top: 5vw;
  }

  .edwin-loading-animation {
    width: 50%;
  }

  .finance-screen-wrapper {
    top: 8%;
  }

  .social-links {
    width: 100%;
  }

  .header-text {
    width: 100%;
  }

  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 2.5em;
  }

  .info-links {
    bottom: 36%;
  }
}